---
import prod1 from "../assets/product-images/prod1.jpg";
import prod2 from "../assets/product-images/prod2.jpg";
import prod3 from "../assets/product-images/prod3.jpg";
import prod4 from "../assets/product-images/prod4.jpg";
import prod5 from "../assets/product-images/prod5.jpg";
import prod6 from "../assets/product-images/prod6.jpg";
import prod7 from "../assets/product-images/prod7.jpg";
import prod8 from "../assets/product-images/prod8.jpg";
---

<div class="product-container">
  <div class="product">
    <img src={prod1.src} alt="Product_Image" />
    <img src={prod2.src} alt="Product_Image" />
    <img src={prod3.src} alt="Product_Image" />
    <img src={prod4.src} alt="Product_Image" />
    <img src={prod5.src} alt="Product_Image" />
    <img src={prod6.src} alt="Product_Image" />
    <img src={prod7.src} alt="Product_Image" />
    <img src={prod8.src} alt="Product_Image" />
  </div>
</div>

<style>
  .product-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 10;
    width: auto;
    background-color: white;
    padding: 1rem 0;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

.product {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;  
  white-space: nowrap; 
  padding: 0 1rem;
  scrollbar-width: none; 
}

.product::-webkit-scrollbar {
  display: none; 
}

.product img {
  flex: 0 0 auto; 
  width: 120px;
  cursor: pointer;
  transition: 0.3s all ease;
}
.product img:hover {
  transform: translateY(-10px);
}


  @media screen and (max-width: 1024px) {
    .product-container {
      width: 90%;
    }
    .product img {
      width: 120px;
    }
  }

  @media screen and (max-width: 768px) {
    .product-container {
      position: static; 
      transform: none;
      margin-top: 1rem;
      width: 90%;
    }
    .product {
      justify-content: center;
    }
    .product img {
      width: 100px;
    }
  }

  @media screen and (max-width: 480px) {
    .product img {
      width: 80px;
    }
  }
</style>
